## Dados absolutos
    - Coleta diretamente da fonte sem nenhum outro tipo de manipulação ( soemnte contagem, ordenação)

## Dados relativos
    - Fácil entendimento par ajudar nas comparações entre quantidades
   **Porcentagem**
   
   **Índices**
   
   **Coeficientes**
   
   **Taxa**

In [1]:
import pandas as pd
import numpy as np

### Percentuais

In [2]:
df= pd.DataFrame({'emprego':['Administrador_bando_de_dados','programador','Arquiteto_redes'],
             'nova_jersei':[97350,82080,112840],
              'florida':[77140,71540,62310]
             })

In [3]:
df

                        emprego  nova_jersei  florida
0  Administrador_bando_de_dados        97350    77140
1                   programador        82080    71540
2               Arquiteto_redes       112840    62310

In [4]:
df

                        emprego  nova_jersei  florida
0  Administrador_bando_de_dados        97350    77140
1                   programador        82080    71540
2               Arquiteto_redes       112840    62310

In [5]:
df['%_nova_jersei'] = df['nova_jersei']/df['nova_jersei'].sum()*100
df['%_florida'] = df['florida']/df['florida'].sum()*100

In [6]:
df

,emprego,nova_jersei,florida,%_nova_jersei,%_florida
0,Administrador_bando_de_dados,97350,77140,33.308242,36.560974
1,programador,82080,71540,28.083621,33.906820
2,Arquiteto_redes,112840,62310,38.608136,29.532205

Exercicio

In [22]:
df_c = pd.read_csv('data/Bases de dados/census.csv')

In [23]:
df_c = df_c[['income','education']]

In [103]:
l1 = list(df_c['education'].unique())

In [9]:
df_c.head()

   income   education
0   <=50K   Bachelors
1   <=50K   Bachelors
2   <=50K     HS-grad
3   <=50K        11th
4   <=50K   Bachelors

In [71]:
df_c2 = pd.DataFrame(df_c.groupby(['education','income'])['education'].count())

In [137]:
l_aux = list(df_c2.index)

In [138]:
l1 = []
for i in range(len(lx)):
    if l_aux[i][0] not in l1:
        l1.append(l_aux[i][0])
    else:
        pass

In [139]:
l1

[' 10th',
 ' 11th',
 ' 12th',
 ' 1st-4th',
 ' 5th-6th',
 ' 7th-8th',
 ' 9th',
 ' Assoc-acdm',
 ' Assoc-voc',
 ' Bachelors',
 ' Doctorate',
 ' HS-grad',
 ' Masters',
 ' Preschool',
 ' Prof-school',
 ' Some-college']

In [140]:
aux = pd.DataFrame()
for i in range(len(l1)):
    x = (df_c2.loc[l1[i]]/df_c2.loc[l1[i]].sum())*100
    aux = pd.concat([aux,x],axis=0)

In [144]:
df_c2

                      education
education     income
 10th          <=50K        871
               >50K          62
 11th          <=50K       1115
               >50K          60
 12th          <=50K        400
               >50K          33
 1st-4th       <=50K        162
               >50K           6
 5th-6th       <=50K        317
               >50K          16
 7th-8th       <=50K        606
               >50K          40
 9th           <=50K        487
               >50K          27
 Assoc-acdm    <=50K        802
               >50K         265
 Assoc-voc     <=50K       1021
               >50K         361
 Bachelors     <=50K       3134
               >50K        2221
 Doctorate     <=50K        107
               >50K         306
 HS-grad       <=50K       8826
               >50K        1675
 Masters       <=50K        764
               >50K         959
 Preschool     <=50K         51
 Prof-school   <=50K        153
               >50K         423
 Some-college  <=50K       5904
               >50K        1387

In [154]:
df_c2['%_education'] = 'NA'

In [169]:
aux.iloc[0][0]

93.35476956055734

In [170]:
for i in range(len(df_c2)):
    df_c2['%_education'][i] = round(aux.iloc[i][0],2)

<ipython-input-170-3d2b445fee11>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c2['%_education'][i] = round(aux.iloc[i][0],2)

In [171]:
df_c2

                      education %_education
education     income
 10th          <=50K        871       93.35
               >50K          62        6.65
 11th          <=50K       1115       94.89
               >50K          60        5.11
 12th          <=50K        400       92.38
               >50K          33        7.62
 1st-4th       <=50K        162       96.43
               >50K           6        3.57
 5th-6th       <=50K        317        95.2
               >50K          16         4.8
 7th-8th       <=50K        606       93.81
               >50K          40        6.19
 9th           <=50K        487       94.75
               >50K          27        5.25
 Assoc-acdm    <=50K        802       75.16
               >50K         265       24.84
 Assoc-voc     <=50K       1021       73.88
               >50K         361       26.12
 Bachelors     <=50K       3134       58.52
               >50K        2221       41.48
 Doctorate     <=50K        107       25.91
               >50K         306       74.09
 HS-grad       <=50K       8826       84.05
               >50K        1675       15.95
 Masters       <=50K        764       44.34
               >50K         959       55.66
 Preschool     <=50K         51         100
 Prof-school   <=50K        153       26.56
               >50K         423       73.44
 Some-college  <=50K       5904       80.98
               >50K        1387       19.02

### Indices
    - Razão os razões entre duas grandezas
    - Resumir em um só número p comportamenteo geral de uma variável
    - ex: densidade demográfica, produção per capita,renda per capita.

### Coeficiente
    - Razão entre o número de corrência e o número total
    - ex: coeficiente de natalidade, coeficiente de mortalidade
    
### Taxa
    - Coeficientes multiplicados por uma potência de 10(10,100,1000)
    - ex: taxa de natalidade (coeficiente de natalidade * 1000